@media (max-width: 1600px) {
	.right-person {
		right: 5%;
	}
} 
@media (max-width: 1200px) {
	.right-person {
		right: 0;
	}
} 
@media (max-width: 991px) {
	.header {
		height: 100%;
		padding-bottom: 100px;
	}
	.project-info {
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.start {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.title-line {
		margin-top: 30px;
	}
} 
@media (max-width: 767px) {
	.header {
		background-position: center;
	}
	.header-desc h1 {
		font-size: 55px;
	}
	.typed-text {
		font-size: 16px;
		line-height: 25px;
	}
	.navbar-right a:before {
		display: none;
	}
	.start-buttons a:last-child {
		margin-top: 30px;
	}
	.advantages {
		padding-bottom: 0;
	}
	.advantages-items-wrap .item{
		margin-top: 50px;
	}
	.advantages-items-wrap .item p {
		width: 300px;
		margin: 20px auto;
	}
	.server-item .info {
		width: 100%;
	}
	.server-name h2 {
		margin-top: 0;
	}
	.server-players span {
		float: left;
		margin-left: 50px;
	}
	.xs-margin {
		margin-top: 30px;
	}
	.server-item .info h3 {
		font-size: 14px;
	}
	.main-input {
		padding-left: 75px;
	}
	.login-form {
		padding: 0;
	}
	.login-form:nth-child(1):before {
		left: 70px; 
		top: 120px;
		padding-right: 15px;
	}
	.login-form:nth-child(1):after {
		left: 75px; 
		top: 200px;
		padding-right: 15px;
	}
	.donate-form {
		padding: 0;
	}
	.donate-form:nth-child(1):before {
		left: 70px; 
		top: 120px;
		padding-right: 15px;
	}
	.donate-form:nth-child(1):after {
		left: 62px; 
		top: 200px;
		padding-right: 15px;
	}
	.inner-title a {
		float: left!important;
		margin-top: 20px;
	}
	.fixed-h {
		height: 100%;
	}
}